body {
  font-family: Roboto, sans-serif; }
  body .auth-modal-container {
    padding-top: 0rem !important; }
    body .auth-modal-container .close-icon {
      cursor: pointer;
      font-size: 3rem;
      position: absolute;
      right: 1rem;
      top: 1rem; }
    body .auth-modal-container .error-message {
      color: red;
      margin-top: 1rem; }
    body .auth-modal-container .success-message {
      color: green;
      margin-top: 1rem; }
    body .auth-modal-container .footer-buttons {
      margin-bottom: -1rem;
      padding-top: 1rem;
      text-align: right; }
      body .auth-modal-container .footer-buttons button div {
        padding: 0 1rem; }
  body .tooltip-container .tooltip-trigger {
    color: #565764;
    cursor: help; }
  body .top-navbar span {
    color: black !important;
    cursor: pointer; }
  body .top-navbar button {
    margin-left: 0rem !important;
    margin-right: 0rem !important; }
    body .top-navbar button span {
      font-size: 1.8rem !important; }
  body .card-item-container img.card-image {
    cursor: help;
    height: 4.5rem;
    width: 4rem; }
  body .tier-row-container {
    border-bottom: 1px solid black;
    padding: 1rem; }
  body .tl-list-item_container {
    border: 1px solid #8c93a8;
    margin-bottom: 2rem; }
  body .tl-list-item_header {
    background-color: #e699af;
    color: white; }
    body .tl-list-item_header .tl-list-item_header__title {
      font-size: 1.7rem; }
      body .tl-list-item_header .tl-list-item_header__title .title-name {
        color: white;
        margin-right: 0.5rem; }
        body .tl-list-item_header .tl-list-item_header__title .title-name:hover {
          color: #337ab7;
          cursor: pointer;
          text-decoration: none; }
    body .tl-list-item_header .tl-list-item_header__creator {
      color: black; }
  body .form-group .required-symbol {
    display: none; }
  body .form-group .glyphicon-remove {
    display: none; }
  body .right {
    float: right; }
  body .left {
    float: left; }
  body .text-right {
    text-align: right !important; }
  body .text-left {
    text-align: left !important; }
  body .clickable {
    cursor: pointer !important; }
  body .is-loading,
  body .is-loading * {
    cursor: wait !important; }
  body .not-allowed {
    cursor: not-allowed !important; }
  body .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  body .no-margin {
    margin: 0 !important; }
  body .half-margin-top {
    margin-top: 0.5rem; }
  body .full-margin-top {
    margin-top: 1rem; }
  body .half-margin-bottom {
    margin-bottom: 0.5rem; }
  body .full-margin-bottom {
    margin-bottom: 1rem; }
  body .half-margin-left {
    margin-left: 0.5rem; }
  body .full-margin-left {
    margin-left: 1rem; }
  body .half-margin-right {
    margin-right: 0.5rem; }
  body .full-margin-right {
    margin-right: 1rem; }
  body .no-padding {
    padding: 0 !important; }
  body .full-padding-top {
    padding-top: 1rem; }
  body .half-padding-top {
    padding-top: 0.5rem; }
  body .full-padding-bottom {
    padding-bottom: 1rem; }
  body .half-padding-bottom {
    padding-bottom: 0.5rem; }
  body .full-padding-left {
    padding-left: 1rem; }
  body .half-padding-left {
    padding-left: 0.5rem; }
  body .full-padding-right {
    padding-right: 1rem; }
  body .half-padding-right {
    padding-right: 0.5rem; }
