.tl-list-item_header {
  background-color: $light-red;
  color: white;

  .tl-list-item_header__title {
    font-size: 1.7rem;

    .title-name {
      margin-right: 0.5rem;

      &:hover {
        color: blue;
        cursor: pointer;
      }
    }
  }

  .tl-list-item_header__creator {
    color: black;
  }
}
