.tl-list-item_header {
  background-color: $light-red;
  color: white;

  .tl-list-item_header__title {
    font-size: 1.7rem;

    .title-name {
      color: white;
      margin-right: 0.5rem;

      &:hover {
        color: $teal;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .tl-list-item_header__creator {
    color: black;
  }
}
